#next-button {
    background-color: #006558;
    color: #EDEDED;
    border: none;
    border-radius: 10px;
    padding: 40px 60px;
    cursor: pointer;
    font-size: 22px;
    display: flex;
    margin-left: auto;
    margin-top: 1000px;
    margin-bottom: 50px;
}

#video-title {
    color: #CD0033;
    font-size: 50px;
    text-align:center;
}

#video-description {
    font-size: 23px;
    text-align: center;
}