.next-button,
.prev-button,
.demo-button {
  background-color: #006558;
  color: #EDEDED;
  border: none;
  border-radius: 10px;
  padding: 20px 50px;
  cursor: pointer;
  font-size: 22px;
  display: inline-block;
  margin-left: 213px;
  margin-right: 20px; /* Aggiunto margine tra i pulsanti */
  margin-bottom: 20px; /* Aggiunto margine sotto i pulsanti */
  margin-top: 810px;
}

.next-button1,
.prev-button1,
.demo-button1 {
  background-color: #006558;
  color: #EDEDED;
  border: none;
  border-radius: 10px;
  padding: 20px 50px;
  cursor: pointer;
  font-size: 22px;
  display: inline-block;
  margin-left: 213px;
  margin-right: 20px; /* Aggiunto margine tra i pulsanti */
  margin-bottom: 20px; /* Aggiunto margine sotto i pulsanti */
  margin-top: 660px;
}

.button-container {
  text-align: center;
}


.button-container {
    text-align: center;
}

.video-title {
    color: #CD0033;
    font-size: 50px;
    text-align:center;
}

.video-description {
    font-size: 23px;
    text-align: center;
}

#page-counter {
    color: #CD0033;
    font-size: 30px;
    text-align:center;
}

.image-item {
  height: 300px;
  width: 300px;
  cursor: pointer;
}

.vid-item{
  height: 300px;
  width:300px;
  cursor: pointer;
}

.div-list{
  max-width: 1200px;
  width: 95%;
}

.slider-wrapper .div-list {
  display: grid;
  gap: 20px;
  overflow-x: auto;
  scrollbar-width: none; 
  grid-template-columns: repeat(63, 1fr);
}

.slider-wrapper .div-list .image-item .vid-item {
  width: 325px;
  height: 400px;
  object-fit: cover;
}