#next-button {
    background-color: #006558;
    color: #EDEDED;
    border: none;
    border-radius: 10px;
    padding: 20px 50px;
    cursor: pointer;
    font-size: 22px;
    display: flex;
    margin-left: 700px;
    margin-top: 1000px;
    margin-bottom: 100px;
}

#prev-button {
    background-color: #006558;
    color: #EDEDED;
    border: none;
    border-radius: 10px;
    padding: 20px 50px;
    cursor: pointer;
    font-size: 22px;
    display: flex;
    margin-right: 600px;
    margin-top: 1000px;
    margin-bottom: 100px;
}

.button-container {
    text-align: center;
}

.video-title {
    color: #CD0033;
    font-size: 50px;
    text-align:center;
}

.video-description {
    font-size: 23px;
    text-align: center;
}

#page-counter {
    color: #CD0033;
    font-size: 30px;
    text-align:center;
   /*margin-top: 600px;*/
}
